---
interface Props {
  url: string;
  name: string;
  isBig?: boolean;
}

const { url, name, isBig = false } = Astro.props;
const id = url.split('/').at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;

const colors = [
  'bg-red-500',
  'bg-blue-500',
  'bg-green-500',
  'bg-yellow-500',
  'bg-purple-500',
  'bg-orange-500',
  'bg-emerald-500',
  'bg-slate-500',
  'bg-cyan-500',
  'bg-indigo-500',
  'bg-violet-500',
  'bg-pink-500',
  'bg-rose-500',
  'bg-violet-500',
];

const randomColor = colors[Math.floor(Math.random() * colors.length)];
---

<a
  href={`/pokemons/${name}`}
  class:list={[`grid justify-items-center items-center rounded-xl mt-4 py-4 text-xl ${randomColor}`]}
>
  <img
    transition:name={`${name}-image`}
    class:list={[
      {
        'w-26 h-26': isBig,
        'w-22 h-22': !isBig,
      },
    ]}
    src={imageSrc}
    alt={name}
  />
  <span
    class:list={[
      'capitalize',
      {
        'text-4xl text-white': isBig,
      },
    ]}
  >
  <div>
    #{id} {name}
  </div>
  </span>
</a>
